@font-face {
    font-family: 'Poppins';
    src: url('../plugins/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
}

header {
    background-color: #678135;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        margin-right: 40px;
    }

    nav ul {
        display: flex;
        gap: 20px;
        list-style: none;
    }

    nav a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.3rem;
    }

    nav a:hover {
        color: #b8e95d;
        transition: color 0.3s ease;
    }

    #logo {
        width: 100px;
        height: 100px;
        margin: 0;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: rgb(103, 129, 53);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    flex-wrap: wrap;

    h2 {
        margin-right: 30px;
        font-size: 1.5rem;
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
        margin-right: 8px;
        display: flex;
        align-items: center;
    }
}


footer>* {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.contact-list {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 30px;
        /* separa cada ítem de los otros */
    }

    li :hover {
        color: #b8e95d;
        transition: color 0.3s ease;
    }

    i {
        font-size: 1.5em;
    }
}


.img_Prod {
    width: 20%;
    height: auto;
    border-radius: 8px;
}

.aboutus {
    padding: rem 0;

    h2 {
        text-align: center;
        font-size: 2.6rem;
        color: #404040;
        margin-bottom: 5rem;
    }

}

.products {
    padding: 4rem 0;

    h2 {
        text-align: center;
        font-size: clamp(2.8rem, 3vw, 4.6rem);
        color: #404040;
        margin-bottom: 5rem;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        @media (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.product {
    box-shadow: 0 0 2.5rem rgb(0, 0, 0, .30);
    border-radius: 10px;

    img {
        border-top-left-radius: .7rem;
        border-top-right-radius: .7rem;
    }
}

.product-info {
    padding: 1.5rem;
    background-color: white;
    border-radius: .7rem;

    h4 {
        color: #404040;
    }

    .product-text {
        margin: 1.2rem 0;
    }

    .price {
        margin: 1.2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            text-decoration: line-through;
        }

        p {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    button {
        border: none;
        background-color: #526829;
        width: 100%;
        padding: 1rem;
        border-radius: .5rem;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        cursor: pointer;
        transition: background-color .3s ease;

        &:hover {
            background-color: #98c04e;
        }
    }
}

.cart {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background: #678135;
    color: #fff;
    border-radius: 12px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 1000;
    transition: background 0.2s;
}

.cart:hover {
    background: #98c04e;
}

.cart i {
    font-size: 2rem;
}